.dashboard-container {
  display: flex;
}

.side-dashboard {
  flex: 0 0 auto;
  width: 250px; /* Adjust width as needed */
  height: 100vh; /* Full height of the viewport */
  background-color:  #6d3fb1; /* Example background color */
  border-right: 1px solid #ccc;
  padding: 20px; 
  overflow: auto;
  position: fixed;
  top :0;
  left:0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.content {
  margin-top: 0;
  margin-left: 250px;
  flex: 1; 
  height: 100vh;
  padding: 20px; 
  box-sizing: border-box;
  overflow-y: auto; 
}


.EmpDetails li {
  /* margin-bottom: 10px;  */
 color: #fcfaf8;
}

button {
  margin-top: 20px;
  border-radius:12px;
}
.user-icon{
  margin-top: 50px;
  /* align-items: center; */
  /* margin-left:80px; */
  /* display: flex; */
  /* size: 1000px; */
  border-bottom: 1px solid rgba(255,255,255,.25);
} 

.registerForm{
  display: flex;
  padding: 10px;
  margin-left: 10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.email{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.admin{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.interviewresponse{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.whatsapp{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.empbtn{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.newEmployee{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.newEmployeedetails{
  display: flex;
  padding: 10px;
  margin-left:10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}