

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d0652;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  background-color: #f5f4cce8;
  border-radius: 5px;
  
}

/* .form-heading {
  margin-bottom: 20px;
} */

.form-input {
  margin-bottom: 20px;
  padding: 5px;
  width: 300%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  

}
.form-control{
  width: 300px;
}

 .input-group-prepend {
  padding: 10px;
}
/*
.input-group-text {
  padding: 0 10px;
}  */

.show-passwordicon {
  display: flex;
  align-items: center;
  /* margin-bottom: 0px; */
  padding: 10px;
  
}

.password-toggle {
  cursor: pointer;
  margin-right: 20px;
}

.admin-register {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 5px; */
  margin-right: 10px;
  padding: 10px;
 
}

/* .admin-register li {
  list-style-type: none;
} */

/* .admin-register a {
  color: #007bff;
  text-decoration:dotted;
} */

/* .admin-register a:hover {
  text-decoration: underline;
} */
.form-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

/* .form-button:hover {
  background-color:aliceblue;
} */