
.inner-div-btn1 {
  background-color: #18a837;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inner-div-btn1:hover {
  background-color: #0056b3;
}

.inner-div-btn1:active {
  background-color: #0056b3;
  transform: translateY(1px);
}

.inner-div-btn2 {
  background-color: #b93b15;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inner-div-btn2:hover {
  background-color: #0056b3;
}

.inner-div-btn2:active {
  background-color: #0056b3;
  transform: translateY(1px);
}
.inner-div-btn3 {
  background-color: #cabe10;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inner-div-btn3:hover {
  background-color: #0056b3;
}

.inner-div-btn3:active {
  background-color: #0056b3;
  transform: translateY(1px);
}
/* Style for the button container */
.outer-div-btn {
  /* Optional container styles */
  white-space: nowrap;
}

/* Adjust spacing between buttons if needed */
.outer-div-btn button {
  margin-right: 5px; /* Adjust as needed */
  display: inline-block; /* Display buttons in one line */
  margin-right: 10px; /* Adj*/
}






















.search-fields {
  display: flex;
  align-items: center;
  /* margin-bottom: 40px; */
  /* margin-right: 30px; */
}

.search-fields input,
.search-fields .react-datepicker-wrapper {
  margin-right: 80px;
}

.search-fields input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-fields input:focus {
  outline: none;
  border-color: #007bff; 
}

.react-datepicker-wrapper {
  display: inline-block;
  position: relative;
}

.react-datepicker-wrapper input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #007bff; 
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
}

.pagination li:hover {
  background-color: #f0f0f0;
} 
.admin-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.admin-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.admin-table th,
.admin-table td {
padding: 12px 15px;
}
.admin-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.admin-table tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}
.admin-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.admin-table tbody tr.active-row{
  fornt-weight:bold;
  color: #009879;
}



