
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size:14px;
  background-color: #f2f2f2;
}
.from-container{
  background: white;
  width: 700px;
  padding: 25px;
  margin: 50px auto 0;
  border-top: 5px solid blue;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0,0.5);
}
.container h2{
  font-size: 24px;
  line-height: 24px;
  padding: 5px;
  text-align: center;
}

.input-name{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.nameicon{
  padding: 8px 11px;
}
.name{
  width: 45%;
  padding: 8px 0 8px 40px;
}
.input-name span{
  margin-left: 40px;
}  

.input-name i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}


.input-email{
  width: 90%;
  position: relative;
  margin: 20px auto;
  margin-left: 15px;
}
.emailicon{
  padding: 8px 11px;
}
 .inputemail{
  width: 90%;
  padding: 8px 0 8px 40px;
} 
/* .input-email span{
  margin-left: 35px;
} */
.input-email i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}


.gender {
  display: flex;
  align-items: center;
}

.select-gender, select[name="maritalStatus"] {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
  margin-left: 60px;
}



.input-dob {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.input-dob label {
  margin-right: 10px;
}

.input-dob i {
  margin-right: 10px;
}

.input-dob input[type="date"] {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

.input-dob p {
  color: red;
  margin: 0;
}

/* Button styling */

.jobprofileicon {
  color: blue;
}

.input-submitbtn {
  text-align: center; 
}

.input-submitbtn button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-submitbtn button:hover {
  background-color: #0056b3; 
}
