.formclass {
    max-width: 600px;
    margin: 5px auto;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  } 
  
  .formclass h2 {
    text-align: center;

  }
  
  .formclass label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  } 
  
 .formclass label span {
    flex: 0 0 150px; 
  }
  
  
  .formclass textarea {
    resize: vertical;
  }
  
  .formclass p {
    color: red;
    margin-top: 5px;
  }
  
  .formclass button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #7546ba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.formclass button:hover {
    background-color: #fff; 
    color: black;
  }

  select { 
      width: 200px; 
      height: 25px; 
      margin: 2px; 
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
  } 
   



  
