
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size:14px;
  background-color: #f2f2f2;
}
.from-container{
  background: white;
  width: 700px;
  padding: 25px;
  margin: 50px auto 0;
  border-top: 5px solid blue;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0,0.5);
}
.container h2{
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

.input-name{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.nameicon{
  padding: 8px 11px;
}
.name{
  width: 40%;
  padding: 8px 0 8px 40px;
}
.input-name span{
  margin-left: 35px;
}  

.input-name i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}

/* .inputemail{
  width: 100%;
}  */
.input-email{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.emailicon{
  padding: 8px 11px;
}
 .inputemail{
  width: 90%;
  padding: 8px 0 8px 40px;
} 
/* .input-email span{
  margin-left: 35px;
} */
.input-email i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}

.input-position{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.jobprofileicon{
  padding: 8px 11px;
}
.jobprofile{
  width: 40%;
  padding: 8px 0 8px 40px;
}
.input-position span{
  margin-left: 35px;
}  

.input-position i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}





.input-address{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.addressicon{
  padding: 8px 11px;
}
.address1{
  width: 45%;
  padding: 8px 0 8px 40px;
}
.input-address i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}



.input-aadhar{
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.aadharicon{
  padding: 8px 11px;
}
.aadhar{
  width: 45%;
  padding: 8px 0 8px 40px;
}
/* .input-aadhar i{
  margin-left: 10px;
} */
.input-aadhar i{
  position: absolute;
  font-size: 18px;
  color: rgb(119, 38, 45);
  border-right: 1px solid #cccccc;
}





